/*关于喜惠*/
html,body,.wrap {
    position: relative;
    height: 100%;
    font-size: calc(266.67% + 57.3333 * (100vw - 320px) / 320);
    background: #fff;
}
.wrap {
    padding: 0.22rem 3.13% 0;
}
.wrap p {
    margin-bottom: 0.12rem;
    font-size: 0.3rem;
    line-height: 0.46rem;
    color: #000;
}