@charset 'utf-8';
body, html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-size: calc(266.67% + 57.3333 * (100vw - 320px) / 320);
}
.wrap {
    width: 100%;
    height: 100%;
}
@font-face {
    src: url("../font/华文细黑.ttf");
}
/*分类模块*/
.order {
    overflow: hidden;
    position: absolute;
    left: 0;
    float: left;
    width: 0;
}
.order h3 {
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    font-size: 0.38rem;
    text-align: center;
    color: #22292c;
    background-color: #f8f8f8;
}
.drag {
    width: 100%;
}
/*连接列表*/
.drag a {
    float: left;
    width: 33.33%;
    height: 0.51rem;
    padding-top: 1.21rem;
    background: url(../images/include_more.png) 50% 0.47rem no-repeat;
    background-size: 0.4rem 0.4rem;
    box-shadow: 0 0 0 1px #d2d2d2 inset;
}
/*设置图标*/
.order .drag .con1 {
    background-color: #e8e8e8;
}
.drag .con2 {
    background: url(../images/include_plan.png) 50% 0.41rem no-repeat;
    background-size: 0.48rem 0.5rem;
}
.drag .con3 {
    background: url(../images/include_photography.png) 50% 0.48rem no-repeat;
    background-size: 0.56rem 0.37rem;
}
.drag .con4 {
    background: url(../images/include_diamond.png) 50% 0.43rem no-repeat;
    background-size: 0.53rem 0.56rem;
}
.drag .con5 {
    background: url(../images/include_hotels.png) 50% 0.50rem no-repeat;
    background-size: 0.56rem 0.47rem;
}
.drag .con6 {
    background: url(../images/include_dresses.png) 50% 0.46rem no-repeat;
    background-size: 0.49rem 0.55rem;
}
.drag .con7 {
    background: url(../images/include_tourism.png) 50% 0.38rem no-repeat;
    background-size: 0.40rem 0.53rem;
}
.drag .con8 {
    background: url(../images/include_decoration.png) 50% 0.44rem no-repeat;
    background-size: 0.49rem 0.43rem;
}
.drag .con9 {
    background: url(../images/include_cake.png) 50% 0.35rem no-repeat;
    background-size: 0.43rem 0.59rem;
}
/*设置文字*/
.drag a span {
    float: left;
    width: 100%;
    height: 0.28rem;
    line-height: 0.30rem;
    font-size: 0.28rem;
    color: #22292c;
    text-align: center;
}
/*有哪些各类信息分类*/
/*头部搜索框 地图*/
.what {
    padding-top: 0.88rem;
    width: 100%;
    box-shadow: -4px 0 5px 0 #989898, -5px 0 7px 0 #d4d4d4, -10px 0 10px 0 #e8e8e8;
}
.head {
    position: fixed;
    top: 0;
    width: 100%;
    height: 0.88rem;
    background-color: #fff;
    z-index: 11;
}
.type, .map {
    float: left;
    width: 18.59%;
    height: 0.88rem;
    background: url(../images/7.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.search {
    position: relative;
    float: left;
    width: 62.82%;
    height: 0.62rem;
    margin-top: 0.13rem;
}
.search em {
    float: left;
    width: 100%;
    height: 0.62rem;
    border: none;
    box-shadow: 0 0 0 1px #d2d2d2 inset;
    line-height: 0.62rem;
    text-indent: 21.64%;
    font-size: 0.3rem;
    color: #ddd;
    border-radius: 0.08rem;
    background: url(../images/8.png) 0 0 no-repeat;
    background-size: 21.64% 100%;
}
.map {
    background-image: url(../images/9.png);
}
/*大图片*/
.pic {
    width: 100%;
    height: 2.68rem;
}
.pic img, .pic a {
    float: left;
    width: 100%;
    height: 100%;
}
#swiper-pagination {
    bottom: -0.6rem;
}
#swiper-pagination span {
    background-color: #fff;
}
/*各个商家的信息*/
.photo {
    position: relative;
    display: block;
    width: 94.22%;
    height: 1.68rem;
    padding: 0.14rem 3.44% 0 2.34%;
    box-shadow: 0 -1px 0 0 #d2d2d2 inset;
}
.tit {
    position: absolute;
    top: 0;
    float: left;
    width: 100%;
    height: 100%;
}
/*图片*/
.photo .icon {
    float: left;
    width: 25.54%;
    height: 1.54rem;
    margin-right: 2.99%;
}
/*信息*/
.consume {
    float: left;
    height: 100%;
    width: 71.46%;
}
.consume h3 {
    float: left;
    height: 0.44rem;
    line-height: 0.44rem;
    font-size: 0.32rem;
    color: #363636;
}
.consume .spot {
    position: absolute;
    top: 0.14rem;
    right: 3.44%;
    float: right;
    height: 0.44rem;
    line-height: 0.44rem;
    font-size: 0.26rem;
    color: #0aaf19;
}
.consume .spot em {
    float: left;
    width: 0.44rem;
    height: 0.44rem;
    background: url(../images/13.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.consume p {
    float: left;
    width: 100%;
    height: 0.34rem;
    margin-bottom: 0.06rem;
    line-height: 0.34rem;
    font-size: 0.26rem;
    color: #979797;
}
.concern span {
    float: left;
    width: 0.49rem;
    height: 0.34rem;
    background: url(../images/14.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.concern em {    
    color: #000;
}
.consume .spot .spot1 {
    background-image: url(../images/15.png);
}
.consume .spot .spot2 {
    background-image: url(../images/16.png);
}
