/*设置密码*/
html,body,.wrap {
    position: relative;
    height: 100%;
    font-size: calc(266.67% + 57.3333 * (100vw - 320px) / 320);
    background: #f8f8f8;
}
.wrap p {
    float: left;
    width: 100%;
    margin: 0.85rem 0 0.4rem;
    text-align: center;
    font-size: 0.28rem;
    color: #7c7c7c;
}
.wrap form {
    float: left;
    width: 100%;
}
.wrap form .pwd,
.wrap form .repwd {
    float: left;
    width: 100%;
    height: 0.9rem;
    margin-bottom: 0.16rem;
}
.wrap form .pwd input,
.wrap form .repwd input {
    display: block;
    width: 80.42%;
    height: 0.88rem;
    margin: 0 auto;
    padding-left: 13.33%;
    border: 0;
    outline: none;
    font-size: 0.3rem;
    color: #aeaeae;
    border: 0.02rem solid #d2d2d2;
    border-radius: 0.05rem;
    background: #fff 4.67% center url("../images/rgt_pswg.png") no-repeat;
    background-size: 5.5%;
}
.wrap form .alert {
    display: none;
    float: left;
    margin-left: 3.13%;
    font-size: 0.28rem;
    color: #e24b33;
}
.wrap form .sure {
    float: left;
    width: 100%;
    height: 0.88rem;
    margin-top: 0.25rem;
}
.wrap form .sure input {
    display: block;
    width: 93.75%;
    height: 0.88rem;
    margin: 0 auto;
    border: 0;
    outline: none;
    border-radius: 0.05rem;
    font-size: 0.34rem;
    color: #fff;
    background: #e24b33;
}

/*弹窗*/
.wrap .block {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.wrap .block div {
    width: 77.9%;
    height: 2.05rem;
    margin: 41.67% auto 0;
    padding: 0.35rem 4.7% 0;
    border-radius: 0.06rem;
    background: #fff;
}
.wrap .block div p {
    margin: 0 0 0.25rem;
    font-size: 0.3rem;
    text-align: left;
    color: #000;
}
.wrap .block div a {
    float: left;
    width: 44%;
    height: 0.8rem;
    font-size: 0.28rem;
    line-height: 0.8rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.06rem;
    cursor: pointer;
}
.wrap .block div a:nth-of-type(1) {
    margin-right: 7%;
    color: #0e0e0e;
    background: #d2d2d2;
}
.wrap .block div a:nth-of-type(2) {
    color: #fff;
    background: #e84034;
}
.wrap .blocks {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.wrap .pwd-irregular {
    width: 55.63%;
    height: 2.14rem;
    margin: 50% auto 0;
    background: url("../images/pwd_irregular.png") no-repeat;
    background-size: 100%;
}